.git
.gitignore
.dockerignore
.env
.env.*
!.env.example
.venv
venv
__pycache__
*.py[cod]
*.so
.pytest_cache
.coverage
htmlcov
.mypy_cache
.ruff_cache
.models
tmp
tests
*.pdf
markdown.md
json_data.json
parsed.json
parsed.md

